html, body {
    margin: 0;
    height: 100%;
}

.img-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.enemy {
    position: absolute;
    top: 10%;
    right: 10%;
}

.enemy progress {
    height: 30px;
    width: 70%;
    background: white;
    margin: 0px auto -30px auto;
    display: block;
}

.hp-text {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    text-shadow: 0px 0px 9px #ff0000;
}


.freaky-fungus {
	width: 462px;
	height: 588px;

    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.freaky-fungus.idle {
    background: url('images/mushroom-idle.png') no-repeat -21px;
    animation-name: idle;
    animation-timing-function: steps(8);
}
@keyframes idle {
  from { background-position: -21px; }
  to { background-position: -4872px; }
}

.freaky-fungus.walk {
    background: url('images/mushroom-walk.png') no-repeat -21px;
    animation-name: walk;
    animation-timing-function: steps(6);
}
@keyframes walk {
  from { background-position: -21px; }
  to { background-position: -3654px; }
}

.freaky-fungus.hurt {
    background: url('images/mushroom-die.png') no-repeat -21px;
    animation-name: hurt;
    animation-timing-function: steps(5);
}
@keyframes hurt {
  from { background-position: -21px; }
  to { background-position: -3150px; }
}

.freaky-fungus.die {
    background: url('images/mushroom-die.png') no-repeat -21px;
    animation-name: die;
    animation-timing-function: steps(6);
}
@keyframes die {
  from { background-position: -21px; }
  to { background-position: -3738px; }
}

.freaky-fungus.spawn {
    background: url('images/mushroom-die.png') no-repeat -21px;
    animation-name: spawn;
    animation-timing-function: steps(4);
}
@keyframes spawn {
  from { background-position: -21px; }
  to { background-position: -2436px; }
}